/* Global styles */
body {
  font-family: Arial, sans-serif;
  
}

a {
	color: inherit;
}

table, table tr, table th, table td {
	border: solid 1px;
}

/* colors*/
body.blue {
	background-color: #333333;
}

.blue .c0 {
	color: #0d1b2a;
	border-color: #0d1b2a;
}

.blue .c1 {
	color: #eeeeff;
}

.blue .b0 {
	background-color: #0d1b2a;
}

.blue .b1 {
	background-color: #eeeeff;
}

.blue .b2 {
	background-color: #778da9;
}

.blue .b3 {
	background-color: #eeeeff;
}

.blue .bb1 {
	border-bottom-color: #eeeeff;
}

.blue .s0 {
	text-shadow: 0.2vw 0.2vw 1vw #0d1b2a;
}

.blue .ah2:hover {
	text-shadow: 0vw 0vw 0.4vw #778da9;
}

.blue .navbar,
.blue .navbar .menu,
.blue .navbar .submenu {
	color: #eeeeff;
	background-color: #1b263b;
}

.blue .navbar .menu-item a:hover {
  background-color: #415a77;
}

.blue table,
.blue table tr,
.blue table th,
.blue table td {
	border-color: #0d1b2a;
}

.blue #page-team h3 {
	background-image: linear-gradient(225deg, rgba(13,27,42,0), rgba(13,27,42,1));
}

body.purple {
	background-color: #333333;
}

.purple .c0 {
	color: #231942;
	border-color: #231942;
}

.purple .c1 {
	color: #ffeeff;
}

.purple .b0 {
	background-color: #231942;
}

.purple .b1 {
	background-color: #ffeeff;
}

.purple .b2 {
	background-color: #be95c4;
}

.purple .b3 {
	background-color: #ffeeff;
}

.purple .bb1 {
	border-bottom-color: #ffeeff;
}

.purple .s0 {
	text-shadow: 0.2vw 0.2vw 1vw #231942;
}

.purple .ah2:hover {
	text-shadow: 0vw 0vw 0.4vw #be95c4;
}

.purple .navbar,
.purple .navbar .menu,
.purple .navbar .submenu {
	color: #ffeeff;
	background-color: #5e548e;
}

.purple .navbar .menu-item a:hover {
  background-color: #9f86c0;
}

.purple table,
.purple table tr,
.purple table th,
.purple table td {
	border-color: #231942;
}

.purple #page-team h3 {
	background-image: linear-gradient(to left, rgba(35,25,66,0), rgba(35,25,66,1));
}



/* Layout container */
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* Banner styles */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/N5dohSX.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1vw 0;
  box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.8);
}

.banner-content {
  font-size: 3vmin;
  padding-left: 3vh;
  background-image: url("https://i.imgur.com/WSLBtrt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: 1em;
}

.banner-content h1 {
  font-size: 5vmin;
}

/* Sticky Navigation Menu */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer .content {
	padding: 2em 0;
	font-size: 0.65em;
}

footer .content span {
	float: left;
	margin-right: 4em;
}

footer .content span.last {
	float: right;
	margin-right: 0;
	margin-left: auto;
}

.navbar {
  padding: 0;
  box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.8);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item a {
  padding: 1vw 1.5vw;
  text-decoration: none;
  display: block;
  transition-duration: 0.5s;
}

.menu-item img {
  height: 1em;
}

/* Submenu styling */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0.1vw 0.1vw 1vw rgba(0,0,0,0.8);
}

.submenu li a {
  padding: 1vw 1.25vw;
  white-space: nowrap;
}

.menu-item.dropdown .submenu.menu-open {
	display:block !important;
}

#menu-cabinet::before, #menu-aide::before  {
	content: "▹ "
}

.menu-item:has(.menu-open) #menu-cabinet::before, .menu-item:has(.menu-open) #menu-aide::before {
	content: "▿ ";
}

/* Sticky behavior for the navbar */
.navbar {
  font-size: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar li {
	list-style-type: none;
}

.navbar li li {
	padding-left: 0;
}

/* Content layout with two columns */
.content {
  display: flex;
}

.column {
  padding: 1.25vw;
}

/* Left column (fixed width) */
.left-column {
  box-shadow: 0.1vw 0.1vw 1vw rgba(0,0,0,0.8);
  width: 252px;
}

.left-column iframe {
	border: none;
	width: 250px;
	height: 250px;
}

/* Right column (flexible width) */
.right-column {
  flex-grow: 1;
  width: 100%;
  box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.8);
}

/* Example content styles */
.right-column h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
}

.right-column p {
  line-height: 1.6;
  margin-top: 2vw;
}

.right-column #page-map iframe {
	border: solid 1px;
	width: 100%;
	height: 50vh;
}

.right-column #page-conseils iframe {
	border: none;
	width: 100%;
	height: 80vh;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

li span {
	position: relative;
	margin-left: -0.5em;
}

li li {
	list-style-type: none;
    padding-left: 1em;
}

.box {
	border: solid 1px;
	border-radius: 5px 5px 0 0;
	margin-bottom: 2vw;
	box-shadow: 0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.5);
	font-size: 1em;
}

.box h2, .box h3 {
	font-weight: bold;
	padding: 0.5vw;
}

.box .box-content {
	padding: 0.5vw;
}

.box b {
	display: block;
	text-align: center;
}

.box img {
	width: 100%;
	display: block;
}

.people {
	border: solid 1px;
	border-radius: 5px 5px 0 0;						
	margin-right: 2%;
	margin-bottom: 5%;
	box-shadow: 0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.5);
	font-size: 1em;
	display: block;
	width: 30%;
	float: left;
}

.people p {
	font-weight: bold;
	padding: 2%;
	margin: 0;
	text-align: center;
}

.people img {
	width: 100%;
	display: block;
}

.descr {
	float: left;
	width: 100%;
	position: relative;
	height: 3em;
	margin-top: -3em;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover .descr {
	background-color: rgba(0, 0, 0, 0.6);
}

#page-home .splash {
	width: 96%;
	padding: 2%;
}

#page-home .splash img {
	width: 100%;
    border-radius: 2em;
    box-shadow: 0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.5);
}

#page-horaires table {
	width: 100%;
}

#page-horaires table th {
	font-weight: bold;
	padding: 1em;
}

#page-horaires table td {
	padding: 1em;
}

#page-team h3 {
	font-size: 2em;
	border-radius: 0.5em 0 0 0.5em;
    padding-left: 0.5em;
    margin: 0.5em 0 0.25em 0;
}

#page-liens .box {
	float: left;
	width: 40%;
	margin-left: 5%;
}

#page-liens .box h3 {
	text-decoration: underline;
}

#page-conseils ul li {
	list-style-type: disc;
	list-style-position: inside;
}

#page-conseils ul li ul {
	display: none;
}

#page-conseils ul li li {
	margin-left: 2em;
	list-style-type: circle;
}

#page-conseils ul li ul.menu-current {
	display: block;
}

#page-conseils ul li li li {
	list-style-type: square;
}

#page-conseils a {
	display: block;
    border: solid white 2px;
    border-radius: 2em;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin: 1em auto;
    font-size: 1.5em;
	transition-duration: 0.5s;
	box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.8);
}

#page-conseils a:hover {
	background-color: #415a77;
}

#page-content {
	margin-top: 2em;
}

.clearfix {
	clear: both;
}

.flw {
	display: block;
	float: left;
	width: 100%;
}

.page {
	display: none;
}

.mobile {
	display: none !important;
}

.pc {
	display: none !important;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 2em;
    background-color: #fff;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 2em;
    cursor: pointer;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2.5vw;
    cursor: pointer;
    padding: 0.25em;
    z-index: 10;
	border-radius: 2em;
}

button.prev-btn {
    left: 0.25em;
}

button.next-btn {
    right: 0.25em;
}

button:focus {
    outline: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    /* Flexbox centering */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal .close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    color: white;
    font-size: 5vw;
    cursor: pointer;
}

/* Media Query for larger screens */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .banner,
  .navbar,
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  
  .menu-item a {
	padding: 0.8vw 1vw;
  }
  
  .right-column p {
    padding-top: 1vw;
	margin: 1vw 0;
  }
  
  .pc {
	  display: block !important;
  }
  
  .people p {
	padding: 2%;
	margin: 0;
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
	.left-column {
		display: none;
	}
	
	.mobile {
		display: block !important;
	}
	
	button {
		font-size: 5vw;
	}
	
	.people {
		font-size: 0.8em;
	}
}

@media screen and (min-width: 1520px) {
  body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/lIWtl6n.png");
	background-position: center;
	background-attachment: fixed;
	background-size: 2640px;
	background-repeat: no-repeat;
	background-color: #080808 !important;
  }
  body.blue {
	background-image: linear-gradient(rgba(13, 27, 42, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/lIWtl6n.png");
  }
  body.purple {
	background-image: linear-gradient(rgba(35, 25, 66, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/lIWtl6n.png");
  }
}

@media screen and (min-height: 1024px) and (min-width: 1920px) {
  body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/Bt6wtWs.jpeg");
	background-position: center;
	background-size: 3848px;
	background-repeat: no-repeat;
	background-color: #080808 !important;
  }
  body.blue {
	background-image: linear-gradient(rgba(13, 27, 42, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/Bt6wtWs.jpeg");
  }
  body.purple {
	background-image: linear-gradient(rgba(35, 25, 66, 0.4), rgba(0, 0, 0, 1)), url("https://i.imgur.com/Bt6wtWs.jpeg");
  }
  .banner-content h1 {
	font-size: 4vmin;
  }
  .box .box-content, .box h2, .box h3 {
    padding: 0.3vw;
  }
  button {
    font-size: 1.5vw;
  }
}
